.margin-form {
	padding: 0 0 1em 260px;
	color: #7F7F7F;
	font-size: 1.2em;
}


.margin-form .normal-text {
	display: block;
	padding-top: 0.2em;
	font-size: 1.2em;
	color: black;
}

fieldset.width1 .margin-form {
	margin: 0 0 1em 130px;
}

#instructions label {
	float: left;
	padding: 0.2em 0.5em 0 0;
	text-align: right;
	font-weight: bold;
}
#instructions label.t {
	float: none;
	clear: none;
	padding: 0 5px 0;
	margin: 0px;
	font-weight: normal;
	font-size: 12px;
	text-shadow:none;
}
#instructions label.child {
	float: none;
	clear: none;
	padding: 0px;
	margin: 0px;
	font-weight: normal;
	font-size: 12px;
}
#instructions label.std {
	float: none;
	margin: 0px;
	width: 170px;
	display: block;
	font-size: 12px;
	text-align: right;
	font-weight: bold;
}

.agile-map-canvas 
{
	width:100%;
	height:250px;
	float:inherit;
}

.table-agile {
    margin-bottom: 0px;
    width: 100%;
    border: 1px solid #bbbbbb;
    border-bottom: none;
    border-right: none;
    background: white;
    border-collapse: inherit;
}

.radio {
    margin-left: 9px !important;
    margin-right: 0px !important;
}

.radio input {
    opacity: 1 !important;
}

.table-head tr td{
    background-color: #fafafa;
    border-right: 1px solid #bbbbbb;
    color: #444444;
    font-size: 14px;

}

.table-body tr td{
    border-right: 1px solid #BBBBBB;
    border-bottom: 1px solid #eeeeee;
}

.table-horarios {
    display: none !important;
}

#id_loc_message {
    padding-top: 10px;
    padding-left: 8px;
    border: 1px solid #009966;
    border-radius: 4px;
    background-color: #00CC99;
    margin-bottom: 10px;
}

#id_loc_message font {
    color: #FFFFFF !important;
}

.hook_extracarrier {
    margin-bottom: 20px;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

@media (min-width: 480px) {
    .agile-map-canvas {
	    height:250px;
    }
}
@media (min-width: 768px) {
    .agile-map-canvas {
	    height:320px;
    }
}
@media (min-width: 992px) {
    .agile-map-canvas {
	    height:4000px;
    }
}
@media (min-width: 1200px) {
    .agile-map-canvas {
	    height:480px;
    }
}