<div class="panel">
	<h3><i class="icon-puzzle-piece"></i> {l s='Discover new modules' mod='zipcodezone'}</h3>
	<div class="row">

		{*<div class="col-lg-4 col-md-4 col-sm-12">
			<a class="addons-style-module-link" href="https://addons.prestashop.com/{$iso_lang|escape:'htmlall':'UTF-8'}/product.php?id_product=5711" target="_blank" title="{l s='Shipping fees based on zipcodes' mod='zipcodezone'}">
				<div class="media addons-style-module panel">
					<img class="media-object pull-left" src="https://addons.prestashop.com/img/pico/5711.jpg" width="57" height="57" alt="{l s='Shipping fees based on zipcodes' mod='zipcodezone'}">
						<div class="media-body addons-style-media-body">
						<h4 class="media-heading addons-style-media-heading">{l s='Shipping fees based on zipcodes' mod='zipcodezone'}</h4>
						<div class="addons-style-media-note">
							<img src="https://addons.prestashop.com/themes/prestastore/img/rate_45.jpg" alt="product rate" width="75" height="18">
						</div>
						<p class="addons-style-media-description">{l s='Apply different shipping fees based on postal codes of your customers.' mod='zipcodezone'}</p>
						<p class="btn btn-default">
							<i class="icon-puzzle-piece"></i> {l s='View on Addons' mod='zipcodezone'}
						</p>
					</div>
				</div>
			</a>
		</div>*}

		<div class="col-lg-4 col-md-4 col-sm-12">
			<a class="addons-style-module-link" href="https://addons.prestashop.com/{$iso_lang|escape:'htmlall':'UTF-8'}/product.php?id_product=7490" target="_blank" title="{l s='Freelivery : Free delivery' mod='zipcodezone'}">
				<div class="media addons-style-module panel">
					<img class="media-object pull-left" src="https://addons.prestashop.com/img/pico/7490.jpg" width="57" height="57" alt="{l s='Freelivery : Free delivery' mod='zipcodezone'}">
						<div class="media-body addons-style-media-body">
						<h4 class="media-heading addons-style-media-heading">{l s='Freelivery : Free delivery' mod='zipcodezone'}</h4>
						<div class="addons-style-media-note">
							<img src="https://addons.prestashop.com/themes/prestastore/img/rate_45.jpg" alt="product rate" width="75" height="18">
						</div>
						<p class="addons-style-media-description">{l s='Manage your free deliveries by carrier and zones from the price and/or weight you want.' mod='zipcodezone'}</p>
						<p class="btn btn-default">
							<i class="icon-puzzle-piece"></i> {l s='View on Addons' mod='zipcodezone'}
						</p>
					</div>
				</div>
			</a>
		</div>

		<div class="col-lg-4 col-md-4 col-sm-12">
			<a class="addons-style-module-link" href="https://addons.prestashop.com/{$iso_lang|escape:'htmlall':'UTF-8'}/product.php?id_product=16652" target="_blank" title="{l s='Advanced delivery dates' mod='zipcodezone'}">
				<div class="media addons-style-module panel">
					<img class="media-object pull-left" src="https://addons.prestashop.com/img/pico/16652.jpg" width="57" height="57" alt="{l s='Advanced delivery dates' mod='zipcodezone'}">
						<div class="media-body addons-style-media-body">
						<h4 class="media-heading addons-style-media-heading">{l s='Advanced delivery dates' mod='zipcodezone'}</h4>
						<div class="addons-style-media-note">
							<img src="https://addons.prestashop.com/themes/prestastore/img/rate_4.jpg" alt="product rate" width="75" height="18">
						</div>
						<p class="addons-style-media-description">{l s='Display estimated delivery dates when choosing a carrier in the cart.' mod='zipcodezone'}</p>
						<p class="btn btn-default">
							<i class="icon-puzzle-piece"></i> {l s='View on Addons' mod='zipcodezone'}
						</p>
					</div>
				</div>
			</a>
		</div>

		<div class="col-lg-4 col-md-4 col-sm-12">
			<a class="addons-style-module-link" href="https://addons.prestashop.com/{$iso_lang|escape:'htmlall':'UTF-8'}/product.php?id_product=6136" target="_blank" title="{l s='Payments based on the amount' mod='zipcodezone'}">
				<div class="media addons-style-module panel">
					<img class="media-object pull-left" src="https://addons.prestashop.com/img/pico/6136.jpg" width="57" height="57" alt="{l s='Payments based on the amount' mod='zipcodezone'}">
						<div class="media-body addons-style-media-body">
						<h4 class="media-heading addons-style-media-heading">{l s='Payments based on the amount' mod='zipcodezone'}</h4>
						<div class="addons-style-media-note">
							<img src="https://addons.prestashop.com/themes/prestastore/img/rate_4.jpg" alt="product rate" width="75" height="18">
						</div>
						<p class="addons-style-media-description">{l s='Limit payments methods with a minimum and/or maximum order total' mod='zipcodezone'}</p>
						<p class="btn btn-default">
							<i class="icon-puzzle-piece"></i> {l s='View on Addons' mod='zipcodezone'}
						</p>
					</div>
				</div>
			</a>
		</div>

	</div>
</div>