<div class="alert alert-info" id="satisfaction">
	{l s='Are you satisfied about this module?' mod='zipcodezone'}
	<a class="btn btn-default" target="_blank" href="{$rating_link|escape}"><i class="icon-smile-o"></i> {l s='YES' mod='zipcodezone'}</a>
	<a class="btn btn-default" target="_blank" href="{$support_link|escape}"><i class="icon-frown-o"></i> {l s='NO' mod='zipcodezone'}</a>
</div>