
        <div><p>
        <h2 style="font-size: 17px; color:#222222"><strong>{$location->location}</strong></h2>
        {$fulladdress}<br>

            <table class="table-horarios" border="0" class="table" cellspacing="0" cellpadding="0">
	        <thead><tr>
	            <th>{l s='Mon' mod='agilepickupcenter'}</th>
	            <th>{l s='Tue' mod='agilepickupcenter'}</th>
	            <th>{l s='Wed' mod='agilepickupcenter'}</th>
	            <th>{l s='Thu' mod='agilepickupcenter'}</th>
	            <th>{l s='Fri' mod='agilepickupcenter'}</th>
	            <th>{l s='Sat' mod='agilepickupcenter'}</th>
	            <th>{l s='Sun' mod='agilepickupcenter'}</th>
				 <th>&nbsp;</th>
	         </tr></thead><tr>
	         <td align="center">{$weekday1_from}</td>
	         <td align="center">{$weekday2_from}</td>
	         <td align="center">{$weekday3_from}</td>
	         <td align="center">{$weekday4_from}</td>
	         <td align="center">{$weekday5_from}</td>
	         <td align="center">{$weekday6_from}</td>
	         <td align="center">{$weekday7_from}</td>
	         </tr><tr>
	         <td align="center">{$weekday1_to}</td>
	         <td align="center">{$weekday2_to}</td>
	         <td align="center">{$weekday3_to}</td>
	         <td align="center">{$weekday4_to}</td>
	         <td align="center">{$weekday5_to}</td>
	         <td align="center">{$weekday6_to}</td>
	         <td align="center">{$weekday7_to}</td>
			 <td>&nbsp;</td>
	         </tr></table>

        <b>{l s='Phone' mod='agilepickupcenter'}:</b> {$location->phone}&nbsp;&nbsp;
        <div style="display: none"><b>{l s='Fax' mod='agilepickupcenter'}:</b>{$location->fax}<br></div>
        <br><b>{l s='Description' mod='agilepickupcenter'}:</b> {$location->description|nl2br}
        <br></p>
        </div>
