#block_top_menu {
  margin-top: 25px;
    background-color: #006633;
}

#isologo_float img {
    width: 65%;
    height: auto;
}

#isologo_float{
    position: absolute;
    margin-left: 105%;
    z-index: 9999;
    top: 0;
    margin-top: -1%;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}


@media (max-width: 767px) {
    #block_top_menu {
        background-color: white;
    }
}

@media (max-width: 479px) {
    #block_top_menu {
        background-color: white;
    }
}

/*# sourceMappingURL=blocktopmenu.css.map */
