{if isset($belvg_textarea)}
<!-- Extra_FieldsModule -->
	<fieldset style="border:none;">
        <textarea name="extra_fields" rows="10" cols="45">{$belvg_textarea}</textarea>
    </fieldset>
<div class="clear">&nbsp;</div>
<!-- /Extra_FieldsModule -->
{/if}