#languages-block-top {
  float: right;
  border-left: 1px solid #009933;
  position: relative; }
  @media (max-width: 479px) {
    #languages-block-top {
      width: 25%;
    } }
  #languages-block-top span.firstWord {
    display: none; }
  #languages-block-top div.current {
    font-weight: bold;
    padding: 8px 10px 8px 10px;
    line-height: 18px;
    color: #fff;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer; }
    @media (max-width: 479px) {
      #languages-block-top div.current {
        text-align: center;
        padding: 9px 5px 7px;
        font-size: 11px; } }
    #languages-block-top div.current strong {
      color: #777777; }
    #languages-block-top div.current:after {
      content: "\f0d7";
      font-family: "FontAwesome";
      font-size: 18px;
      line-height: 18px;
      color: #EEEEEE;
      vertical-align: -2px;
      padding-left: 12px; }
      @media (max-width: 479px) {
        #languages-block-top div.current:after {
          padding-left: 2px;
          font-size: 13px;
          line-height: 13px;
          vertical-align: 0; } }
    @media (max-width: 479px) {
      #languages-block-top div.current .cur-label {
        display: none; } }
  #languages-block-top ul {
    display: none;
    position: absolute;
    top: 37px;
    left: 0;
    width: 157px;
    background: #333;
    z-index: 2; }
    #languages-block-top ul li {
      color: #fff;
      line-height: 35px;
      font-size: 13px; }
      #languages-block-top ul li a,
      #languages-block-top ul li > span {
        padding: 0 10px 0 12px;
        display: block;
        color: #fff; }
      #languages-block-top ul li.selected, #languages-block-top ul li:hover a {
        background: #484848; }

/*# sourceMappingURL=blocklanguages.css.map */
